### 1. Creating an Empty DataFrame

In [1]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

### 2. Creating a DataFrame from a List

In [2]:
import pandas as pd
lst = ['I', 'am', 'Avisikta', 'Roy']
df = pd.DataFrame(lst)
print(df)

          0
0         I
1        am
2  Avisikta
3       Roy

### 3. Creating DataFrame from dict of NumPy Array

In [3]:
import numpy as np
import pandas as pd
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

### 4. Creating a DataFrame from List of Arrays (Multidimensional List)

In [4]:
import pandas as pd
data = [['abc', 10], ['xyz', 20], ['pqr', 30]] # initialize list of lists
df = pd.DataFrame(data, columns=['Name', 'Age']) # create DataFrame
print(df)

  Name  Age
0  abc   10
1  xyz   20
2  pqr   30

### 5. Creating a DataFrame from a Dictionary of Lists

In [2]:
import pandas as pd
dict = {'Name':["Avi", "Millie", "Sadie", "Maya"],
 'Class': ["IX", "X", "XI", "XII"],
 'Roll No':[10, 15 , 20 , 21]}
df = pd.DataFrame(dict)
print(df)

     Name Class  Roll No
0     Avi    IX       10
1  Millie     X       15
2   Sadie    XI       20
3    Maya   XII       21

### 6. Creating a DataFrame from Another DataFrame

In [6]:
original_df = pd.DataFrame({
 'Name': ['Avi', 'Millie', 'Sadie', 'Maya'],
 'Age': [14, 15 , 16, 17 ]})
new_df = original_df[['Name']] 
print(new_df)

     Name
0     Avi
1  Millie
2   Sadie
3    Maya

### 7. Changing Data Type After Creating DataFrame

In [7]:
import pandas as pd
data = [['Jo', 'March', 25], ['Hermione', 'Granger', 30], 
['Luna', 'Lovegood', 26], ['Ginny', 'Weasley', 22]]
df = pd.DataFrame(data, columns=['FName', 'LName', 'Age'])
df['Age'] = df['Age'].astype(float) # change datatype using astype()
print(df)

      FName     LName   Age
0        Jo     March  25.0
1  Hermione   Granger  30.0
2      Luna  Lovegood  26.0
3     Ginny   Weasley  22.0

### 8. Create DataFrame from a Dictionary of Series

In [8]:
import pandas as pd 
# Initialize data to Dict of series
d = {'one': pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd']),
 'two': pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)  # creates Dataframe
print(df)

   one  two
a   10   10
b   20   20
c   30   30
d   40   40

### 9. Create DataFrame using the zip() function

In [9]:
import pandas as pd
names = ["Avi", "Millie", "Sadie", "Maya"]
values = [14, 15, 16, 17]
df = pd.DataFrame(list(zip(names, values)), columns=['Name', 'Value'])
print(df)

     Name  Value
0     Avi     14
1  Millie     15
2   Sadie     16
3    Maya     17

### 10. Create a DataFrame by Providing the Index and Column Name Label Explicitly

In [1]:
import pandas as pd
data = ["Avi", "Millie", "Sadie", "Maya"]
df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'], columns=['Name'])
print(df)

     Name
A     Avi
B  Millie
C   Sadie
D    Maya